---
layout: default
---
{% assign featuredPost = site.posts | where: "featured", "true" %}
{% for post in featuredPost limit:1 %}
  <div class="p-5 mb-2 blog-feature">
    <div class="col-12 px-0">
      <h1 class="display-4">{{ post.title }}</h1>
      <p class="lead my-3">{{ post.excerpt }}</p>
      <p class="lead mb-0">
        <a class="link-secondary" href="{{ post.url }}">Read More...</a>
      </p>
    </div>
  </div>
{% endfor %}

<div class="row mb-2">
  {% for post in site.posts limit:2 %}
  <div class="col-6 blog-recents">
      {%- include article.html post=post hideSummary=false -%}
  </div>
  {% endfor %}
</div>

<div class="row g-5">
  <div class="col-md-12">
    {%- include default-postlist.html -%}
  </div>
</div>
