<div class="position-sticky blog-sidebar">
    <div class="card my-1 mx-1">
        <div class="card-body">
            <img src="/assets/images/me.jpg" class="small-headshot" alt="My Selfie Picture" />
            <h3 class="card-title">About Me</h3>
            <p>I’m a Modern Work Architect Specialist at Microsoft who specializes in 
                Security, Compliance, and Information Management.  I currently support 
                organizations who are looking to improve the security of their Identities 
                and Information as they move from an On-Premise world to a distributed and 
                cloud centric IT environment.
            </p>
        </div>
    </div>

    <div class="card my-1 mx-1">
        <div class="card-body">
            <h3 class="card-title">Follow Me</h3>
            <ul class="socialmedia-list">
                {% for socialSite in site.socialmedia %}
                <li class="socialmedia-item">
                    <a href="{{ socialSite.url }}">
                        <span class="{{socialSite.iconclass}} btn-icon" role="img" aria-label="{{socialSite.name}}"></span>
                        <span>{{socialSite.name}}</span>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="card my-1 mx-1">
        <div class="card-body">
            <h3 class="card-title">Categories</h3>
            {% include tag-cloud.html %}
        </div>
    </div>
</div>