<div class="blog-header">
    <div class="container">
        <header>
            <div class="row flex-nowrap justify-content-between align-items-center pt-2 pb-2">
                <div class="col align-items-center">
                    <a class="blog-header-logo text-body-emphasis text-decoration-none" href="/">{{ site.title }}</a>
                </div>
                <div class="col d-flex justify-content-end align-items-center">
                    {% for sm in site.socialmedia %}
                    <a class="link-secondary p-1" href="{{ sm.url }}">
                        <i class="bi {{sm.iconclass}}"></i>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </header>
        <nav class="nav nav-underline blog-header-nav justify-content-between">
            {% for navlink in site.navigation %}
            <a class="nav-item nav-link" href="{{ navlink.link }}">{{ navlink.name }}</a>
            {% endfor %}
        </nav>
    </div>
</div>