{% if page.series %}
    <div class="row col-12">
        <div class="col-12">
            <h2>Posts in this series</h2>
        </div>
    {% assign seriesPosts = site.posts | where:"series",page.series | sort: "date" %}
    {% for seriesPost in seriesPosts %}
        <div class="col-3">
            <article class="blog-post my-3">
                <h3>{{ seriesPost.title }}</h3>
                <p class="by-line">
                    <span class="blog-date">{{ seriesPost.date | date: "%a, %b %d, %y"}}</span>
                    {% for category in seriesPost.categories %}
                    | <a href="/categories/{{ category }}">{{ category }}</a>
                    {% endfor %}
                </p>
                <p><a class="link-secondary" href="{{seriesPost.url}}">Read more...</a></p>
            </article>
        </div>
    {% endfor %}
    </div>
{% endif %}