$slate: #212529;
$headerColorOne: #212121;
$headerColorTwo: #414141;
$borderColor: #a1a1a1;
$featureColor: gray;
$liteColor: #f0f0f0;

body {
    background-color: $liteColor;
    font-family: 'Lucida Grande', 'Calibri', Helvetica, Arial, sans-serif;
}

blockquote {
    color: #666;
    margin-bottom: 20px;
    padding: 0 0 0 20px;
    border-left: 3px solid #bbb;
}

code {
    padding: 3px;
    margin: 0 3px;
}

pre, code {
    color: #222;
    background-color: #fff;
    font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
    font-size: 0.875em;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

table {
    border: 1px solid #373737;
    margin-bottom: 20px;
    text-align:left;
    border-collapse: collapse;
    border-spacing: 0px;
    text-indent: initial;
}