---
# comment for preprocessing
---
@import "basics";

.blog {

    &-post {
        &-header {
            background-repeat: no-repeat;
            background-size: cover; 
            min-height: 250px; 
            background-size: 600px 600px;
        }
        &-title {
            .dark, .lite {
                color: $liteColor;
                background-color: $slate;
                
            }
            // .lite {
            //     color: $slate;
            //     background-color: $liteColor;
            //     border-bottom: 1px solid $slate;
            //     border-right: 1px solid $slate;
            // }
        }
    }

    &-header {
        background-color: $slate;
        color: $liteColor !important;


        &-logo {
            font-size: 2rem;
            text-decoration: none !important;
            font-weight: bold;
            color: $liteColor !important;
        }

        &-nav, .secondary-link, .nav-link {
            color: $liteColor !important;
        }
    }

    &-footer {
        background-color: $slate;
        color: $liteColor !important;
    }

    &-featured-posts {
        .card {
            margin-left: 1px;
            margin-right: 1px;
            padding-left: 0px;
            padding-right: 0px;

            :first-child {
                margin-left: 0px;
            }

            :last-child {
                margin-right: 0px;
            }

            &-text {
                max-height: 90px;
                overflow-y: hidden;
            }

            &-img-top {
                max-height: 240px !important;
            }

            &-subtitle {
                a {
                    color: inherit !important;
                }
            }
        }
    }

    &-headline {
        background-color: $headerColorTwo;
        color: $liteColor;
        display:none;
    }

    &-by-line {
        border-top: 1px solid $borderColor;
        border-bottom: 1px solid $borderColor;

        &-update {
            font-weight: bold !important;
        }
    }

    &-small-headshot {
        border-radius: .5rem;
        max-width: 200px;
        max-height: 200px;
        float: right;
    }
    
    &-medium-headshot {
        border-radius: 1rem;
        max-width: 350px;
        max-height: 350px;
        float: right;
    }
}

