---
---
@import "problog";

.blog {

    &-content {
        img {
            position: relative;
            max-width: 100%;
            display: block;
            padding: 5px;
            margin: 10px 0 10px 0;
            //border: 1px solid $imgBorder;
        }
    }
    

    &-small-headshot {
        border-radius: .5rem;
        max-width: 200px;
        max-height: 200px;
        float: right;
    }
    
    &-medium-headshot {
        border-radius: 1rem;
        max-width: 350px;
        max-height: 350px;
        float: right;
    }
}