<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
        <link rel="stylesheet" href="./index.css">
        <title>title</title>
    </head>
  <body>
    <div class="blog-header">
        <nav class="container">
            <header class="border-bottom">
                <div class="row flex-nowrap justify-content-between align-items-center pt-2 pb-2">
                    <div class="col align-items-center">
                        <a class="blog-header-logo text-body-emphasis text-decoration-none" href="#">[D]avid McWee</a>
                    </div>
                    <div class="col-6 d-flex justify-content-end align-items-center">
                        <a class="link-secondary p-1" href="#">
                            <i class="bi bi-mastodon"></i>
                        </a>
                        <a class="link-secondary p-1" href="#">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a class="link-secondary p-1" href="#">
                            <i class="bi bi-threads-fill"></i>
                        </a>
                    </div>
                </div>
            </header>
            <div class="nav nav-underline blog-header-nav justify-content-between">
                <a class="nav-item nav-link" href="#">item</a>
                <a class="nav-item nav-link" href="#">item</a>
                <a class="nav-item nav-link" href="#">item</a>
                <a class="nav-item nav-link" href="#">item</a>
                <a class="nav-item nav-link" href="#">item</a>
                <a class="nav-item nav-link" href="#">item</a>
                <a class="nav-item nav-link" href="#">item</a>
                <a class="nav-item nav-link" href="#">item</a>
                <a class="nav-item nav-link" href="#">item</a>
                <a class="nav-item nav-link" href="#">item</a>
                <a class="nav-item nav-link" href="#">item</a>
            </div>
        </nav>
    </div>
    <main class="container">
        <div class="blog-featured-posts row pt-3">
            <div class="card col-sm">
                <img src="../assets/images/pencil_computer_spider.jpg" class="card-img-top card-img-top-limit" alt="computer bug">
                <div class="card-body">
                    <h6 class="card-subtitle text-body-secondary">1/1/1970 topic topic topic</h6>
                    <h5 class="card-title">headline</h5>
                    <p class="card-text card-text-summary">summary</p>
                    <a href="#" class="card-link">link</a>
                </div>
            </div>
            <div class="card col-sm">
                <img src="../assets/images/me.png" class="card-img-top card-img-top-limit " alt="me">
                <div class="card-body">
                    <h5 class="card-title">headline</h5>
                    <p class="card-subtitle text-body-secondary">topic topic topic</p>
                    <p class="card-text card-text-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                        in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a href="#" class="card-link">link</a>
                </div>
                <div class="card-footer">date 1/1/1970</div>
            </div>
            <div class="card col-sm">
                <!-- <img src="..." class="card-img-top card-img-top-limit " alt="..."> -->
                <div class="card-body">
                    <h6 class="card-subtitle text-body-secondary">topic topic topic</h6>
                    <h5 class="card-title">Headline</h5>
                    <p class="card-text card-text-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                        in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a href="#" class="card-link">link</a>
                </div>
                <div class="card-footer">date 1/1/1970</div>
            </div>
            <div class="card col-sm">
                <h5 class="card-header">headline</h5>
                <div class="card-body">
                    <h6 class="card-subtitle text-body-secondary">topic topic topic</h6>
                    <p class="card-text card-text-summary">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                        in culpa qui officia deserunt mollit anim id est laborum.</p>
                    <a href="#" class="card-link">link</a>
                </div>
                <div class="card-footer">date 1/1/1970</div>
            </div>
        </div>
        <div class="row d-flex pt-3">
            <div class="col-md-10">
                <article class="blog-post">
                    <h3>post headline</h3>
                    <p class="by-line">
                        <span>date</span>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                    </p>
                    <p class="summary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                        in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </article>
                <article class="blog-post">
                    <h3>post headline</h3>
                    <p class="by-line">
                        <span>date</span>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                    </p>
                    <p class="summary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                        in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </article>
                <article class="blog-post">
                    <h3>post headline</h3>
                    <p class="by-line">
                        <span>date</span>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                    </p>
                    <p class="summary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                        in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </article>
                <article class="blog-post">
                    <h3>post headline</h3>
                    <p class="by-line">
                        <span>date</span>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                    </p>
                    <p class="summary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                        in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </article>
                <article class="blog-post">
                    <h3>post headline</h3>
                    <p class="by-line">
                        <span>date</span>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                    </p>
                    <p class="summary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                        in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </article>
                <article class="blog-post">
                    <h3>post headline</h3>
                    <p class="by-line">
                        <span>date</span>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                    </p>
                    <p class="summary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                        in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </article>
                <article class="blog-post">
                    <h3>post headline</h3>
                    <p class="by-line">
                        <span>date</span>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                    </p>
                    <p class="summary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                        in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </article>
                <article class="blog-post">
                    <h3>post headline</h3>
                    <p class="by-line">
                        <span>date</span>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                    </p>
                    <p class="summary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                        in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </article>
                <article class="blog-post">
                    <h3>post headline</h3>
                    <p class="by-line">
                        <span>date</span>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                    </p>
                    <p class="summary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                        in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </article>
                <article class="blog-post">
                    <h3>post headline</h3>
                    <p class="by-line">
                        <span>date</span>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                        <a class="border-left" href="#">link</a>
                    </p>
                    <p class="summary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                        in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </article>
            </div>
            <div class="card col-md-2">
                <div class="card-header">
                    side panel
                </div>
                <div class="card-body">
                    stuff here
                </div>
                <!-- <article class="featured-list">
                    <h4>title</h4>
                    <p class="summary">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                        nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit 
                        esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
                        in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </article>
                -->
            </div>
        </div>
    </main>
  </body>
</html>