<!DOCTYPE html>
<html lang="en">
  <head>
    {%- include head.html -%}
  </head>
  <body class="blog">
    {% include header.html %}

    <main class="container">
      <div class="row">
        <h1 class="blog-title col">{{ page.title }}</h1>
      </div>
      <div class="row blog-by-line mb-3">
        <div class="col blog-by-line-date">
          {{ page.date | date: "%a %b %d, %y" }}
          {% if page.last_update %}
          | <span class="blog-by-line-update">Updated: {{ page.last_update | date: "%a %b %d, %y"}} </span>
          {% endif %}
          {% for category in page.categories %}
          | <a href="/categories/{{ category }}">{{ category }}</a>
          {% endfor %}
          <ul class="blog-socialmedia-list">
          {% assign shareSites = site.socialmedia | where: "supportShare", true %}
            <li class="blog-socialmedia-list-header">Share</li>
            {% for shareSite in shareSites %}
            <li class="blog-socialmedia-list-item blog-socialmedia-list-item-small">
                <a href="{{shareSite.shareurl}}{{site.url | url_encode}}{{page.url | url_encode}}">
                    <span class="{{shareSite.iconclass}} btn-icon" role="img" aria-label="share on {{shareSite.name}}"></span>
                </a>
            </li>
          {% endfor %}
          </ul>
        </div>
      </div>
      <div class="row blog-body">
        
        <div class="col blog-content">
          {{ content }}
        </div>
        {% if page.series %}
        <div class="col-3">
          <div class="position-sticky blog-sidebar">
            {% include series.html %}
        </div>
        {% endif %}
      </div>
    </main>

    {% include footer.html %}
  </body>
</html>